@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* TODO: find fonts with more weights */
    @font-face {
    font-family: 'Pavelt';
    src: url('/fonts/Pavelt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'neuemachina';
    src: url('/fonts/NeueMachina-Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
    }

    @font-face {
    font-family: 'neuemachina';
    src: url('/fonts/NeueMachina-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    }

    @font-face {
    font-family: 'neuemachina';
    src: url('/fonts/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-Thin.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-ExtraLight.ttf') format('truetype');
    font-weight: extralight;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-SemiBold.ttf') format('truetype');
    font-weight: semibold;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'martianmono';
    src: url('/static/MartianMono-ExtraBold.ttf') format('truetype');
    font-weight: extrabold;
    font-style: normal;
  }


}



.font-pavelt {
  font-family: pavelt, sans-serif;
}

.font-neuemachine {
  font-family: neuemachina, sans-serif;
}
